:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #ff5c5c;
  --third-text-color: #9ab4c6;
  
  --primary-link-color: #b5f2eb;
  --secondary-link-color: #ff5c5c;

  --primary-background-color: #141d26;
  --secondary-background-color: #243447;
  --third-background-color: blue;
}

html,
main {
  width: 100%;
  margin:0;
  font-family: 'Quicksand', "sans-serif", "veranda";
  font-size: 150%;
}

body {
  background-color: var(--primary-background-color);
}

h1, h2, h3, h4{ 
  font-family: 'Quicksand', "sans-serif";
  color: var(--primary-text-color);
  font-size: 150%;
}

h2 {
  color: var(--secondary-text-color);
}

h3 {
  color: var(--third-text-color);
  font-size: 120% !important;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--third-text-color);
  transition: color 1s;
}
a:hover {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* PAGES */

.page {
  padding-top: 2em;
}

.pound {
  color: var(--third-text-color);
}

#about_me_container {
  width:100%;
  min-width: 800px;
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}

#about_me {
  width: 100%;
  margin: 0;
  padding: 0;
}

#title {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  width: 600px;
}

#title_img {
  grid-column-start: col-start 1;
  margin: auto;
}

#title_desc {
  grid-column-start: col-start 2;
  margin: auto;
  margin-left: 20px;
}

#title_desc span {
  color: var(--third-text-color);
}

#bio {
  color: var(--primary-text-color) !important;
  font-size: 70%;
}

#bio_2 {
  display: none;
  color: var(--primary-text-color) !important;
  font-size: 70%;
}

#profile_pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
}

.container {
  background-color: var(--secondary-background-color);
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  //border-radius: 25px;
  overflow: hidden;
}

.wrapper {
  width: 90%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.wrapper h2 {
  display: inline;
}


.wrapper span {
  color: var(--primary-text-color);
  font-size: 90%;
}

.collapsible {
  cursor: pointer;
}

.collapsible h2 {
  transition: color 2s;
}

.collapsible h2:hover {
  color: var(--primary-text-color);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.skill {
  font-size: 80% !important;
  color: #c1b3b9 !important;
}

.a_project {
  margin: 25px;
}

.a_project h3 {
  display: inline;
}

.grid_container {
  display: inline-grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  margin: auto;
}

.a_contact {
  margin: auto;
  background-color: var(--third-text-color);
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border-style: solid;
  border-color: var(--third-text-color);
  border-width: 1.5px;
  transition: background-color 2s;
  transition: border-color 3s;
}

.a_contact:hover {
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}

.a_contact img {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contact_content {
  display: block !important;
  padding: 0;
  text-align: center;
}

.contact_container {
  margin-top: 10px !important;
  padding: 0;
  background-color: var(--primary-background-color);
}

.contact_wrapper {
  padding: 0;
}

/* MEDIA */

/* ----------- Small browsers ------------ */
@media only screen and (max-width: 1200px){
  #bio {
    display: none;
  }

  #bio_2 {
    display: block;
  }

  #title {
    width: 420px;
  }
}


/* ----------- iPhone 5, iPhone 6 ----------- */
@media only screen and (max-width: 700px){
  html, main {
    width: 568px;
    font-size: 140%;
  }

  #title {
    margin-left: 30px;
    font-size: 150%;
  }

  #title img {
    display: none;
  }

  .grid_container {
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-column-gap: 10px;
    margin: auto;
  }

  .a_contact {
    width: 64px;
    height: 64px;
  }

  .contact_content {
    text-align: left;
    padding: 0;
  }

  .container {
    width: 568px;
    margin-left: 20px;
    border-radius: 0px;
  }
}


