:root {
  --main-text-color: #EEBB86;
  --secondary-text-color: #49B091;
  --third-text-color: #EEBB86;
  --primary-background-color: #4A6376;
  --secondary-background-color: #5B7E99;
  --img-width: 20em;
  --img-height: 20em;
}

html,
main {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', "sans-serif", "veranda";
  text-shadow: white, 1px, 1px, 1px, 1px, 1.0;
}
h1, h2 { 
  font-family: 'Oswald', 'Quicksand', "sans-serif";
  color: var(--main-text-color);
}
a {
  color: var(--secondary-text-color);
  transition: color 2s;
}
a:hover {
  text-decoration: none;
  color: var(--main-text-color);
  transform: scale(1.05);
}

/* NAVIGATION */

.navbar {
  padding: 0.5em;
}

.navbar-default .navbar-brand {
  color: var(--main-text-color);
}

.navbar-default, .navbar-brand {
  background-color: var(--secondary-background-color);
  font-size: 1.5em;
}

.navbar.navbar-default li a, .navbar.navbar-default a {
  color: var(--secondary-text-color);
}

.navbar.navbar-default li a:hover, .navbar.navbar-default a:hover {
  color: var(--main-text-color);
}

.btn-default {
  border-color: none;
}

.tutImg {
  width: 60%;
  height: auto;
  border-radius: 1em;
  border-color: #477187;
  border-style: solid;
  border-width: 0.1em;
  transition: opacity 2s;
}

.tutImg:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.icon {
  -webkit-transition: color 2s, transform 3s;
  transition: color 2s, transform 3s;
}

.icon:hover {
  color: var(--main-text-color);
  transform: scale(1.1);
}

/* PAGES */

.page {
  min-width: 800px;
  padding-top: 2em;
  margin: 0em;
}

#aboutMePage {
  height: 80%;
  min-height: 80%;
  overflow: hidden;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: black;
}

#aboutMeContainer {
  width: 80%;
  margin: auto;
  margin-top: 20%;
}

#aboutMeContainer h1, .icon {
  color: white;
}

#mission {
  background-color: var(--primary-background-color);
  padding: 1em;
}

#mission p {
  font-size: 2em;
  color: var(--main-text-color);
  width: 60%;
  margin: auto;
  padding: 1em;
}

#awardsPage {
  background: var(--secondary-background-color);
}

#portfolioPage {
  background: var(--primary-background-color);
  margin: auto;
  padding: 4em;
  color: var(--third-text-color);
}

#portfolioPage p {
  height: 1em;
}

#projectContainer {
  margin: auto;
  overflow: hidden;
  max-width: 70em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.imgContainer {
  width: var(--img-width);
  height: var(--img-height);
  margin: 0.5em;
  overflow: hidden;
  border-radius: 1em;
  border-color: #477187;
  border-style: solid;
  border-width: 0.1em;
  transition: opacity 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgContainer:hover {
  opacity: 0.9;
}

#projImg1 {
  background-image: url("https://images.unsplash.com/photo-1521490918262-b83aee4029e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=145819d18139f5d3144e15d947fc94b2&auto=format&fit=crop&w=632&q=80");
}
#projImg2 {
  background-image: url("https://solarsystem.nasa.gov/system/people/detail_images/660_270946main_CarlSagan_20080903-browse.jpg");
}
#projImg3 {
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2017/58af0228b8aa8.jpg");
}


.imgText {
  position: relative;
  font-size: 1.5em;
  color: var(--secondary-text-color);
  top: 10%;
  background-color: var(--secondary-background-color);
}


#tutorialPage {
  background: var(--secondary-background-color);
  padding: 4em;
  color: var(--third-text-color);
}

#contactMePage {
  width: 100%;
  height: 40%;
  min-height: 40%;
  margin: auto;
  padding: 4em;
  color: var(--third-text-color);
  background: var(--primary-background-color);
}

/* BADGES */

.award {
  height: 10em;
  width: 10em;
  margin: auto;
  margin: 1em;
  margin-top: 0;
}

/* MEDIA */

@media (max-width: 760px) {
  #aboutMePage {
    display: none;
  }
  #mission p{
    margin-top: 200px;
  }
  .navbar.navbar-default li {
    text-align: center;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .navbar {
    display: none;
  }
  #aboutMePage {
    display: none;
  }
  #mission p{
    margin-top: 200px;
  }
  .navbar.navbar-default li {
    text-align: center;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .navbar {
    display: none;
  }
  #aboutMePage {
    display: none;
  }
  #mission p{
    margin-top: 200px;
  }
  .navbar.navbar-default li {
    text-align: center;
  }
}