html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', "sans-serif", "veranda";
  color: white;
}

h1 { 
  font-size: 4em;
  font-family: 'Oswald', 'Quicksand', "sans-serif";
  color: #6F90A2;
}

a {
  color: #FFF;
  transition: color 2s;
}

a:hover {
  text-decoration: none;
  color: #D4826A;
}

/* NAVIGATION */

.navbar-default, .navbar-brand {
  background-color: white;
  font-size: 1.5em;
}

.navbar.navbar-default li a, .navbar.navbar-default a {
  color: #113B51;
}

.navbar.navbar-default li a:hover, .navbar.navbar-default a:hover {
  color: #113B51;
}

/* PAGES */

.page {
  padding-top: 2em;
  margin: 0em;
}

#aboutMePage {
  height: 80%;
  min-height: 80%;
  overflow: hidden;
  background-color: #113B51;
}

#aboutMeContainer {
  width: 80%;
  margin: auto;
  margin-top: 12em;
  color: #6F90A2;
}

.icon {
  color: white;
  transition: color 2s;
}

.icon:hover {
  color: #D4826A;
}

h3 {
  color: white;
}

#planet {
  position: absolute;
  height: 2em;
  width: 2em;
  margin: auto;
  background-color: #032436;
  border-radius: 50%;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

#moon {
  postition: absolute;
  height: 1em;
  width: 1em;
  background-color: #6F90A2;
  border-radius: 50%;
  margin: 4em;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

#mission {
  background-color: #6F90A2;
  color: #032436;
  padding: 1em;
}

#mission p {
  color: #113B51;
  font-size: 2em;
  width: 60%;
  margin: auto;
  padding: 1em;
}

#awardsPage {
  background-color: #FFF;
}

#portfolioPage {
  background-color: #113B51;
  padding: 4em;
  color: #FFF;
}

#portfolioPage p {
  margin: 1em;
}

#contactMePage {
  background-color: #477187;
  padding: 2em;
}

#contactMePage {
  margin: auto;
}

.btn-default {
  border-color: none;
}

#tutorialPage {
  padding: 4em;
}

.tutImg {
  width: 60%;
  height: auto;
  border-radius: 1em;
  border-color: #477187;
  border-style: solid;
  border-width: 0.1em;
  transition: opacity 2s;
}

.tutImg:hover {
  opacity: 0.6;
}

/* BADGES */

.award {
  height: 10em;
  width: 10em;
  margin: auto;
  margin: 1em;
  margin-top: 0;
}

/*-- animation --*/
@-webkit-keyframes spin {
 100% {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}